:root {
  --tutor-profile-header-height: 3rem;

  --tutor-profile-title-color: #0b0a0a;
  --tutor-profile-text-color: #403a3a;
  --tutor-profile-text-color-light: #707070;
  --tutor-profile-container-color: #fafafa;
  --tutor-profile-container-color-alt: #f0efef;
  --tutor-profile-body-color: #fcfcfc;
  --tutor-profile-tags-color: rgba(0, 0, 0, 0.54);

  --tutor-profile-body-font: 'Poppins', sans-serif;
  --tutor-profile-h1-font-size: 1.5rem;
  --tutor-profile-h2-font-size: 1.25rem;
  --tutor-profile-h3-font-size: 1rem;
  --tutor-profile-normal-font-size: 0.938rem;
  --tutor-profile-small-font-size: 0.875rem;
  --tutor-profile-smaller-font-size: 0.813rem;

  --tutor-profile-font-medium: 500;
  --tutor-profile-font-semi-bold: 600;
  --tutor-profile-font-bold: 700;

  --tutor-profile-mb-1: 0.5rem;
  --tutor-profile-mb-2: 1rem;
  --tutor-profile-mb-3: 1.5rem;

  --tutor-profile-z-tooltip: 10;
  --tutor-profile-z-fixed: 100;
}

h1,
h2,
h3 {
  color: var(--tutor-profile-title-color);
  font-weight: var(--tutor-profile-font-medium);
}

.tutor_profile {
  &__button {
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--tutor-profile-text-color);
    color: var(--tutor-profile-title-color);
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    font-size: var(--tutor-profile-normal-font-size);
    font-weight: var(--tutor-profile-font-bold);
    text-transform: uppercase;
    margin-top: var(--tutor-profile-mb-3);
    cursor: pointer;

    &:hover {
      background-color: var(--tutor-profile-text-color);
    }
  }

  &__container {
    margin: 0 0 var(--tutor-profile-header-height);
    padding: 0;
    font-family: var(--tutor-profile-body-font);
    font-size: var(--tutor-profile-normal-font-size);
    background-color: var(--tutor-profile-body-color);
    color: var(--tutor-profile-text-color);

    & .bd_container {
      max-width: 968px;
      width: calc(100% - 3rem);
      margin: 0 auto;
    }

    & .bd_grid {
      display: grid;
      gap: 1rem;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--tutor-profile-container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);

    &__left {
      background-color: var(--tutor-profile-container-color-alt);
    }

    &__left,
    &__right {
      padding: 0 1.5rem;
    }
  }

  &__section {
    padding: 1.5rem 0;

    &__title {
      font-size: var(--tutor-profile-h2-font-size) !important;
      color: var(--tutor-profile-title-color) !important;
      font-weight: var(--tutor-profile-font-semi-bold) !important;
      text-transform: uppercase !important;
      letter-spacing: 0.25rem !important;
      margin-bottom: var(--tutor-profile-mb-3) !important;
    }
  }

  &__languages,
  &__certificates {
    &__content {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    &__data {
      & span {
        word-wrap: break-word;
      }
    }
  }

  &__decision {
    &__content {
      display: flex;
      justify-content: space-between;
    }
  }
}

.tutor_profile__main__right {
  & .tutor_profile__section__title {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 2px;
      background-color: var(--tutor-profile-text-color-light);
      border-radius: 12px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
