:root {
  --bs-blue: #1e88e5;
  --bs-indigo: #6610f2;
  --bs-purple: #7460ee;
  --bs-pink: #e83e8c;
  --bs-red: #fc4b6c;
  --bs-orange: #fb8c00;
  --bs-yellow: #ffb22b;
  --bs-green: #26c6da;
  --bs-teal: #20c997;
  --bs-cyan: #4fc3f7;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #7460ee;
  --bs-secondary: #6c757d;
  --bs-success: #26c6da;
  --bs-info: #1e88e5;
  --bs-warning: #ffb22b;
  --bs-danger: #fc4b6c;
  --bs-light: #f2f6f8;
  --bs-dark: #343a40;
  --bs-cyan: #4fc3f7;
  --bs-orange: #fb8c00;
  --bs-purple: #7460ee;
  --bs-font-sans-serif: "Poppins", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #3e5569;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #eef5f9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  outline: none;
  padding: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #007a64;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: #3e5569;
  text-decoration: none;
}
