.nav {
    flex: 0 0 auto;
    width: 15.625rem;
    white-space: nowrap;
    border: none;

    &__content {
        padding: 16px;
        background-color: rgb(247, 249, 251);
        height: 100%;
    }

    &__logo {
        padding: 12px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;

        &--icon {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        &--info {
            width: calc(100% - 62px);
            margin-left: 16px;
            color: rgba(0, 0, 0, 0.6);
        }

        &--name {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        &--text {
            margin-bottom: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            color: inherit;
        }

        &--solo {
            margin-top: -2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: inherit;
        }
    }

    &__nav-item {
        opacity: 1;
        background: rgb(255, 255, 255);
        color: rgb(52, 71, 103);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        padding: 0.675rem 0.8rem 0.675rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    }
}
